@{
    ViewData["Title"] = "Home Page";
}

<div class="row mb-2">
    <div class="col-md-18">
        <div class="row g-0 overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h1 class="display-2"><a href="#"><img class="mb-4" src="~/logos.png" alt=""
                            width="100" height="100"></a>Hello everyone =)</h1>
                <p class="lead my-2 display-4"> <strong>This is a place where everyone can get to know better
                        about modern world and about urban planning.</strong></p>
            </div>
        </div>
    </div>
    <div class="col-md-18">
        <div class="col p-4 d-flex flex-column position-static">
            <div class="row g-0 overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                <p class="lead my-1 display-4"><strong>Here you can find any news about</strong></p>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h1 class="display-3"><u>Find new ways</u></h1>
                    <p class="lead my-3"> <strong> In the <a href="./source/problems.html"
                                class="text-muted">Problems</a> section,
                            you can offer a discussion of the problems that exist in your city or join
                            already launched topics, where people from all over the world offer solutions and
                            help find the best way out in situations of various levels of complexity.
                        </strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h1 class="display-3"><u>Break old views</u></h1>
                    <p class="lead my-3"> <strong> In the <a href="./source/ideas.html"
                                class="text-muted">Ideas</a> section you
                            will find useful articles. There are good examples of public spaces,
                            articles on contemporary problems and solutions offered by leading experts around
                            the world.
                        </strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h1 class="display-3"><u>Discover new</u></h1>
                    <p class="lead my-3"> <strong> In the <a href="./source/ideas.html"
                                class="text-muted">Ideas</a> section you
                            will find useful articles. There are good examples of public spaces,
                            articles on contemporary problems and solutions offered by leading experts around
                            the world.
                        </strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h1 class="display-3"><u>Join our team</u></h1>
                    <p class="lead my-3"> <strong> In the <a href="./source/problems.html"
                                class="text-muted">Problems</a> section,
                            you can offer a discussion of the problems that exist in your city or join
                            already launched topics, where people from all over the world offer solutions and
                            help find the best way out in situations of various levels of complexity.
                        </strong></p>
                </div>
            </div>
        </div>
    </div>
</div>