@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

 <div class="container">
        <div class="row mb-2">
            <div class="col-md-18">
                <div class="row g-0 overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h4 class="display-2">Forums will be coming soon...</h4>
                        <p class="lead my-3 display-4"> <strong> Be patient =)</strong></p>
                    </div>
                </div>
            </div>
    </div>